  .Header {
    background-color:gray;
    color:white;
  
  }
  
  .Header h1{
  text-align: flex-start;
  padding: 20px 0 20px 0;
  }
  
  .Nav ul{
    display: flex;
    gap:20px;
    list-style: none;
    padding-bottom:40px;
    justify-content: center;
  }
  
  .cont {
  text-align: start;
  } 

  .cont h1{
    padding:20px;
    font-size: 20px;
  } 
  
  .cont button{
    padding:10px 20px;
    margin: 15px;
    color:white;
    background-color:gray;
  }
  
  .cont .item ul{
    line-height: 20px;
    list-style: square;
  }
  
  .Footer{
    color: black;
    margin-top: 15px;
    text-align: center;
  }
  